@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "../variables";

body {
  text-rendering: optimizeLegibility;
  margin: 0;
  background-color: $grey-light;
  color: $grey-dark;
}

h1 {
  font-weight: 400;
  font-size: $font-size-xlarge;
}

h3 {
  font-size: $font-size-large;
  font-weight: 400;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
  font-weight: 400;  
}

.hide-sm {
  @media (max-width: $breakpoint-tablet) {
    display: none !important;
  }
}

.hide-lg {
  @media (min-width: $breakpoint-tablet + 1) {
    display: none !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 5px;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.display-inline {
  display: inline;
}

.row {
  flex-direction: row;

  .column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.button {
  color: $blue;
  background-color: $blue;
  border-color: $blue;

  &.button-outline {
    color: $blue;
    border-color: $blue;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 40px;
}

.loader {
  margin-top: 200px;
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-small {
  font-size: $font-size-small;
}

.text-medium {
  font-size: $font-size-medium;
}

.text-large {
  font-size: $font-size-large;
}

.text-xlarge {
  font-size: $font-size-xlarge;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.updated-time {
  margin-bottom: 10px;
  padding: 2px;
}